.loading-spinner {
    width: 100px;
    height: 100px;
    border: calc(100px / 10) solid #D9D9D9;
    border-radius: 50%;
    box-sizing: border-box;
    border-top-color: #7fb5e9;
    animation: loading 0.75s ease infinite; 
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}