.loading-spinner {
   --loading-spinner-size: 100px;

    width: var(--loading-spinner-size);
    height: var(--loading-spinner-size);
    border: calc(var(--loading-spinner-size) / 7) solid #D9D9D9;
    border-radius: 50%;
    box-sizing: border-box;
    border-top-color: #7fb5e9;
    animation: loading 0.75s ease infinite; 
}

.loading-spinner--small {
    --loading-spinner-size: 30px;
}

.loading-spinner--medium {
    --loading-spinner-size: 100px;
}

.loading-spinner--large {
    --loading-spinner-size: 300px;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}